<html>
<head>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.2.5/svg.min.js'></script>
   <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
   <!-- https://github.com/alexei/sprintf.js -->
   <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.js'></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

   <script>places = {};</script>

   <script src='index.js'></script>
</head>
<body ng-app='foodwheel' ng-controller='foodwheel' ng-keypress='keyPress($event)' style='overflow:hidden'>

   <table id='placesList' style='border:1px solid black' >
      <tr ng-repeat='(name, weight) in places'>
         <td>{{ name }}</td>
         <td>{{ weight }}</td>
         <td><button ng-click='remove(name)'>delete</button></td>
      </tr>
   </table>

   Enter new place:</br>
   <input ng-model='placeName' type='text' />
   <select ng-model='placeWeight' ng-options='number for number in numbers'></select>
   <button ng-click="add()">add</button>

   <center>
      <button ng-click='spin()'>Spin the Wheel!</button>
   </center>

   <div id='wheel-div' style='margin:0; width:600px; height:600px' style='float:left'>
   </div>
   <svg width=50 height=50 style='float:right; position:absolute; left:520px; top:500px'>
      <line x1='0' y1='10' x2='50' y2='10'
            style='stroke:rgb(250, 0, 0); stroke-width:15'>
      </line>
   </svg>

   <!-- <div style='position:absolute;left:0;top:0;height:100%;width:100%;' id='map'>yo</div> -->
   <div style='height:0;width:0' id='map'></div>

   <script>
      function error() { alert('geolocation not supported'); }

      ready = false;
      function initialize() { ready = true; }

      function success(position, callback_kk) {
         /*var map;
         function initMap() {
           map = new google.maps.Map(document.getElementById('map'), {
             center: {lat: -34.397, lng: 150.644},
             zoom: 8
           });
         }*/

         var map;
         var service;
         var infowindow;

         function initialize() {
            //var otownZip = new google.maps.LatLng(28.6498000,-81.2110000);
            var otownZip = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

           map = new google.maps.Map(document.getElementById('map'), {
               center: otownZip,
               zoom: 15
           });

           var request = {
             location: otownZip,
             //radius: '500',
             radius: '5000',
             types: ['food']
           };

           service = new google.maps.places.PlacesService(map);
           service.nearbySearch(request, callback);
         }

         function callback(results, status) {
           if (status == google.maps.places.PlacesServiceStatus.OK) {
             for (var i = 0; i < results.length; i++) {
               var place = results[i];
               console.log(place);
               //createMarker(results[i]);
             }
             callback_kk(results);
           }
         }

         if (ready)
            initialize();
         else
            error();
         //service = new google.maps.places.PlacesService(map);
         //service.nearbySearch(request, callback);

      }

      function start(callback) {
         function success_return(position) {
            success(position, callback);
         }
         if (navigator.geolocation)
            navigator.geolocation.getCurrentPosition(success_return, ()=> {console.log('getCurrentPos Fail');error()});
         else {
            console.log('navigator.geolocation == null');
            error();
         }
      }

/////////////////////////////

      var colors = ['purple', 'yellow', 'blue', 'pink', 'orange', 'green', 'brown'];
      var currColorIndex = 0;
      function getColor() {
         if (currColorIndex+1 >= colors.length)
            currColorIndex = 0;
         return colors[currColorIndex++];
      }

      function makePie(places) {
         //'id':'wheelSvg');
         var wheelEl = makeEl('svg', {'width':'550px', 'height':'550px', 'float':'left'});
         var centerX = 300, centerY = 300;
         var totalWeight = 0;
         for (var name in places)
            totalWeight += places[name];

         var startAngle = 0;
         for (var name in places) { //places[name] is weight
            var nextSize = places[name]/totalWeight * 360;
            var endAngle = startAngle + nextSize;
            var color = getColor();
            makeArc(wheelEl, centerX, centerY, 200, startAngle, endAngle, color);

            var textRotAngle = (startAngle + endAngle) / 2 - 90;
            var transform = sprintf('rotate(%i %i,%i)', textRotAngle, centerX, centerY);
            name = '. . . . . . .' + name;
            var textEl = makeText(wheelEl, name, centerX, centerY, 'black', transform);
            startAngle = endAngle;
         }

         /*var line = makeLine(500, 300, 550, 300);
         append(wheelEl, line);*/
         var wheelDiv = getById('wheel-div');
         wheelDiv.innerHTML = null;
         append(wheelDiv, wheelEl);
      }
      //makePie(places);

      /*makeArc(wheelEl, 300, 300, 200, 30, 180, 'purple');
      makeArc(wheelEl, 300, 300, 200, 0, 20, 'yellow');
      var line = makeLine(250, 250, 253, 253);
      append(wheelEl, line);*/

      // libraries=places
     </script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt3Wxu6tBs-CHgTp88x5VB3270RRx9sd8&callback=initialize&libraries=places"
  type="text/javascript"></script> -->
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt3Wxu6tBs-CHgTp88x5VB3270RRx9sd8&callback=initialize&libraries=places" type="text/javascript"></script>

</body>
</html>
